[tron]
tronHost = localhost 
tronCmdrPort = 6093

[agc]
updateInterval = 60
datadir = $ICS_MHS_DATA_ROOT/agc
cam1 = ML0364912
#cam6 = ML0374912
cam6 = ML0384912
cam4 = ML0394912
#cam5 = ML0404912
cam3 = ML0414912
cam5 = ML0424912
cam2 = ML0030911

# Which interface/address we should _listen_ on. 'localhost' does not open security holes!
interface = localhost
# Which port do we listen for connections from tron on? This needs to match the one in tron's config/hub.py 
port = 9032

[logging]
logdir = $ICS_MHS_LOGS_ROOT/actors/agc
baseLevel = 20
cmdLevel = 20
dispatchLevel = 30
consoleLevel = 20

